<ion-header>
  <ion-navbar>
    <ion-title>
      Cart
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!confirmPage && !is_success">
    <ion-list>
      <ion-item *ngFor="let photo of photos" (click)="itemClicked(photo.id)">
        <ion-avatar item-start>
          <img src="{{photo.thumbnailUrl}}">
        </ion-avatar>
        <h2>{{photo.id}}</h2>
        <p>{{photo.title}}</p>
        <ion-icon ios="trash" md="trash"></ion-icon>
      </ion-item>
      <ion-item><b>Total:</b> {{total}}</ion-item>
      <ion-item>
        <button ion-button block color="secondary" (click)="checkout()">Checkout</button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="confirmPage  && !is_success">
    <ion-list>
      <ion-item>
        <b>Token:</b> {{token.access_token}}
      </ion-item>
      <ion-item>
        <b>Validity:</b> {{token.expires_in}}
      </ion-item>
      <ion-item>
        <ion-label color="primary">Enter mobile number</ion-label>
        <ion-input placeholder="Mobile number"></ion-input>
      </ion-item>
      <ion-item>
        <button ion-button block color="secondary" (click)="confirm()">Confirm</button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="is_success">
    The transaction was successfull.
  </div>
  <div *ngIf="confirmPage  && is_success">
    The transaction failed.
  </div>
</ion-content>
